<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="js/main.js"></script>
    <script src="js/listener.js"></script>
    <script src="js/timeslot.js" type="module"></script>
    <script src="js/timeslot-renderer.js" type="module"></script>
    <title>xTune Radio - Manager Portal</title>
</head>
<body>
    <!-- Navbar -->
    <header>
        <div id="title-bar">
            <img src="images/nav-burger.png" width="30px" height="30px" id="nav-burger">
            <div id="nav-burger-menu">
                hmm
            </div>
            <div id="header-logo"><h1>xTune Radio Playlist Manager</h1></div>
            <img src="images/user-icon.png" id="user-icon" onclick="userMenuToggle()">
            <div id="user-menu">
                <div id="user-menu-lead"></div>
                <ul>
                    <li>Login</li>
                    <li>Logout</li>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <div class="content-header-top">Manager Portal</div>
        <div class="content-container-with-header">
            <h1 style="text-align:center">Select a Day</h1>
            <nav>
                <ul>
                    <% days.forEach(day => { %>
                        <li><a href="/times/<%= day %>"><%= day %></a></li>
                    <% }) %>
                </ul>
            </nav>
        </div>
    </section>
</body>
</html>